<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2>Registration</h2>
<form action="#" th:action="@{/admin/add}" th:object="${person}" method="post">
    <!-- CSRF Token -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="username">Name</label><br>
    <input type="text" th:field="*{username}" id="username" placeholder="UserName"><br>
    <div th:if="${#fields.hasErrors('username')}" style="color:red;">
        <p th:each="err : ${#fields.errors('username')}" th:text="${err}"> Error</p>
    </div>

    <label for="password">Password</label><br>
    <input type="password" th:field="*{password}" id="password" placeholder="Password"><br>

    <label for="firstName">FirstName</label><br>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="firstName"><br>
    <div th:if="${#fields.hasErrors('firstName')}" style="color:red;">
        <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}"> Error</p>
    </div>

    <label for="lastName">LastName</label><br>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="lastName"><br>
    <div th:if="${#fields.hasErrors('lastName')}" style="color:red;">
        <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}"> Error</p>
    </div>

    <label for="age">Age</label><br>
    <input type="number" th:field="*{age}" id="age" placeholder="Age"><br>
    <div th:if="${#fields.hasErrors('age')}" style="color:red;">
        <p th:each="err : ${#fields.errors('age')}" th:text="${err}"> Error</p>
    </div>


    <p>Roles:</p>
    <p th:each="role : ${allRoles}">
        <label>
            <input type="checkbox" th:name="role" th:value="${role.id}" />
            <span th:text="${role.name}"></span>
        </label>
    </p>

    <input type="submit" value="Create User">
</form>
</body>
</html>