<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>List people</title>
</head>
<body>
<h2 align="center">People</h2>
<table border="1" align="center">
  <thead>
  <tr>
    <th>Id</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
    <th>Username</th>
    <th>Password</th>
    <th>Role</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="Person : ${allPeople}">
    <td th:text="${Person.id}"></td>
    <td th:text="${Person.firstName}"></td>
    <td th:text="${Person.lastName}"></td>
    <td th:text="${Person.age}"></td>
    <td th:text="${Person.username}"></td>
    <td th:text="${Person.password}"></td>

    <td>
      <table>
        <tr th:each="role : ${Person.roles}">
          <td th:text="${role.name}"></td>
        </tr>
      </table>
    </td>
    <td><a th:href="@{admin/delete/{id}(id=${Person.id})}">Delete</a></td>
    <td><a th:href="@{admin/update/{id}(id=${Person.id})}">Edit</a></td>
  </tr>
  </tbody>
</table>
<div>
<p align="center"><a href="/admin/add">Add Person</a></p>
  <p align="center"><a href = "/user">About me</a></p>
<p align="center"><a href="/logout">Logout</a></p>
</div>
</body>
</html>