<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>
<br/>
<form action="#" th:action="@{/admin/update}" th:object="${person}" method="post">
  <label for="id">Id</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="Id">
  <br/>
  <br/>
  <label for="username">Username</label>
  <input type="text" th:field="*{username}" id="username" placeholder="Username">
  <div th:if="${#fields.hasErrors('username')}" style="color:red;" th:errors="*{username}"> username Error
  </div>
  <label for="password">Password</label>
  <input type="password" th:field="*{password}" id="password" placeholder="Password"> <br/>
  <div th:if="${#fields.hasErrors('password')}" style="color:red;" th:errors="*{password}"> pass Error
  </div>
  <br/>
  <label for="firstName">FirstName</label>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="firstName">
  <div th:if="${#fields.hasErrors('firstName')}" style="color:red;" th:errors="*{firstName}"> firstname Error
  </div>
  <br/>
  <label for="lastName">LastName</label>
  <input type="text" th:field="*{lastName}" id="lastName" placeholder="lastName">
  <div th:if="${#fields.hasErrors('lastName')}" style="color:red;" th:errors="*{lastName}"> lastname Error
  </div>
    <br/>
  <label for="age">Enter age:</label>
  <input type="text" th:field="*{age}" id="age"/>
  <div th:if="${#fields.hasErrors('age')}" style="color:red;" th:errors="*{age}"> username Error
  </div>
    <br/>

  <p th:each="role : ${allRoles}">
    <label>
      <input
              type="checkbox"
              name="roleList"
              th:id="'role' + ${role.getId()}"
              th:value="${role.getId()}"
              th:checked = "${person.getRoles().contains(role)}"
      />
    </label>
    <label th:for="'role' + ${role.getId()}" th:text="${role.getAuthority()}">
    </label>
  </p>

  <input type="submit" value="Update User">
</form>
</body>
</html>